nav
{
	border-radius: 0px !important;
	margin-bottom: -20px !important;
}



.div1
{
	background-color: #696969;
	color:#fff;
	padding: 300px;
}

#edu1
{
	padding: 30px;
	box-shadow: 2px 3px 10px 5px #000;
	background-color: #634018;
	color: #fff;
}

#other1
{
	padding: 30px;
	box-shadow: 2px 3px 10px 5px #000;
	background-color: #63185c;
	color: #fff;
}

footer
{
	padding :20px;
	background-color: #000;
	color: #fff;
}

#social
{
	float: right;
	font-size: 30px;
	padding-right: 15px;
}


.fixed
{
	position:fixed;
	top:0px;
	width: 100%;
	z-index: 1;
}

#top
{
	position: fixed;
	bottom: 20px;
	right: 30px;
	padding: 10px;
	background-color: black;
	color: white;
}	